*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/
*.iml

# Gradle files and wrappers
.gradle/
gradle/
gradlew
gradlew.bat
gradle-wrapper.jar

# Build outputs
**/build/
/build/

# OS files
.DS_Store
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
